
.social {
    position: fixed;
    cursor: pointer;
    font-size:24px;
    color:darkgray;
    z-index:1003;
    top: 4%;
    left:5px;
}
.social:hover {
    color: darkblue;
    text-decoration: none;
}

.div3 {
  width: 3000px;
  background: white;
}

/*obesity legend*/
.storymap-legend {
    line-height: 16px;
    width: 300px;
    color: #333333;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.storymap-legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}

.storymap-legend p {
    font-size: 30px;
    line-height: 16px;
    margin: 0;
}

.storymap-legend b {
  font-size: 16px;
  float: center;
}
